@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(https://db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "bahnschrift", sans-serif;
}

p {
  margin-top: 150px;
}

.words {
  margin-bottom: 40px;
}

.words,
.nav1 {
  background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text transparent */
  background-image: linear-gradient(to right, #8b8b8b, #c0c0c0);
}

.nav1 {
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translate(-50%, 0);
  z-index: 999;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  background-image: linear-gradient(to right, #8b8b8b, #393939);
}

.nav1:hover {
  background-image: linear-gradient(to right, #8b8b8b, #c0c0c0);
}
