@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(https://db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);

.text-black {
  font-family: "bahnschrift", sans-serif;
  font-size: 40px;
  background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text transparent */
  background-image: linear-gradient(to right, #936f6f, #000000);
}
.image-moon {
  height: 400px;
  margin-top: 200px;
}
.generated-text {
  position: absolute;
  margin-top: -400px;
}
.space-between {
  position: absolute;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  font-family: "bahnschrift", sans-serif;
  background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text transparent */
  background-image: linear-gradient(to right, #936f6f, #000000);
  font-weight: 700;
  z-index: 999;
}
.nav1 {
  margin-left: -45%;
}
.nav2 {
  margin-left: -2%;
}
.nav3 {
  margin-left: 40%;
}

.space-between:hover {
  background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text transparent */
  background-image: linear-gradient(to right, #392f2f, #a27e7e);
  font-weight: 700;
}
